.form-buttons {
    display: block;
}

.add-photo {
    margin: 10px 10px 10px 0px;
    color: #1360db;
    border: 1px solid #1360db;
}

.add-photo:hover {
    color: #1360db;
    border: 1px solid #1360db;
}
